<?xml version="1.0"?>
<robot name="robot">
    <link name="base_link">
        <visual>
            <geometry> 
                <cylinder radius="18" length="1.4"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.7"/>
        </visual>
    </link>
    <link name="wheel1">
        <visual>
            <geometry> 
                <cylinder radius="2.9" length="2.56"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>
    <link name="wheel2">
        <visual>
            <geometry> 
                <cylinder radius="2.9" length="2.56"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>
    <link name="wheel3">
        <visual>
            <geometry> 
                <cylinder radius="2.9" length="2.56"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>
    <link name="wheel4">
        <visual>
            <geometry> 
                <cylinder radius="2.9" length="2.56"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>


    <joint name="wheel1-base" type="continuous">
        <parent link="base_link"/>
        <child link="wheel1"/>
        <origin xyz="12.73 12.73 2" rpy="-0.85 1.57 0"/>
        <axis xyz="0 0 1" />
    </joint>
    <joint name="wheel2-base" type="continuous">
        <parent link="base_link"/>
        <child link="wheel2"/>
        <origin xyz="-12.73 12.73 2" rpy="-0.85 -1.57 0"/>
        <axis xyz="0 0 1"/>
    </joint>
    <joint name="wheel3-base" type="continuous">
        <parent link="base_link"/>
        <child link="wheel3"/>
        <origin xyz="-12.73 -12.73 2" rpy="0.85 -1.57 0"/>
        <axis xyz="0 0 1"/>
    </joint>
    <joint name="wheel4-base" type="continuous">
        <parent link="base_link"/>
        <child link="wheel4"/>
        <origin xyz="12.73 -12.73 2" rpy="0.85 1.57 0"/>
        <axis xyz="0 0 1"/>
    </joint>
</robot>