<?xml version="1.0" ?>
<robot name="obj_model">

  <!-- Link that contains the object -->
  <link name="rendered_table">
    <!-- Visual Shape: 3D mesh from the .obj file -->
    <visual>
      <geometry>
        <mesh filename="table.obj"/>  <!-- Path to the .obj file -->
      </geometry>
      <material name="default_material">
        <color rgba="1 1 1 1"/>  <!-- You can set the default color if no texture is available -->
      </material>
    </visual>
    
    <!-- Inertial properties: Mass and Inertia -->
    <inertial>
	  <mass value="1000.0"/>  <!-- Set a realistic mass for the table -->
      <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>
  
  <link name="table_base">
    <collision>
      <geometry>
        <box size="3.0 2.0 0.05"/>
      </geometry>
    </collision>
	<visual>
	  <geometry>
        <box size="0 0 0"/>
      </geometry>
	</visual>
  </link>
  
  <link name="border_front">
    <collision>
      <geometry>
        <box size="3.0 0.022 0.07"/>
      </geometry>
    </collision>
	<visual>
	  <geometry>
        <box size="0 0 0"/>
      </geometry>
	</visual>
  </link>
  
  <link name="border_back">
    <collision>
      <geometry>
        <box size="3.0 0.022 0.07"/>
      </geometry>
    </collision>
	<visual>
	  <geometry>
        <box size="0 0 0"/>
      </geometry>
	</visual>
  </link>
  
  <link name="border_left">
    <collision>
      <geometry>
        <box size="0.022 2.0 0.07"/>
      </geometry>
    </collision>
	<visual>
	  <geometry>
        <box size="0 0 0"/>
      </geometry>
	</visual>
  </link>
  
  <link name="border_right">
    <collision>
      <geometry>
        <box size="0.022 2.0 0.07"/>
      </geometry>
    </collision>
	<visual>
	  <geometry>
        <box size="0 0 0"/>
      </geometry>
	</visual>
  </link>
  
  <link name="scene">
    <collision>
      <geometry>
        <box size="0.9 0.45 0.055"/>
      </geometry>
    </collision>
	<visual>
	  <geometry>
        <box size="0 0 0"/>
      </geometry>
	</visual>
  </link>
  
  <link name="ramps">
	<visual>
		<geometry>
			<mesh filename="rampes.obj"/>  <!-- Path to the .obj file -->
		</geometry>
		<material name="default_material">
			<color rgba="1 1 1 1"/>  <!-- You can set the default color if no texture is available -->
		</material>
    </visual>
	<collision>
      <geometry>
		<mesh filename="rampes.obj"/>
      </geometry>
    </collision>
  </link>
  
  <!-- Fixer les bordures à la table -->
  <joint name="rendered_to_base" type="fixed">
    <parent link="table_base"/>
    <child link="rendered_table"/>
    <origin rpy="1.5708 0 0" xyz="0 0 0"/> <!-- 1.5708 radians = 90° -->
  </joint>
  
  <joint name="base_to_border_front" type="fixed">
    <parent link="table_base"/>
    <child link="border_front"/>
    <origin rpy="0 0 0" xyz="0 1.011 0.06"/>
  </joint>

  <joint name="base_to_border_back" type="fixed">
    <parent link="table_base"/>
    <child link="border_back"/>
    <origin rpy="0 0 0" xyz="0 -1.011 0.06"/>
  </joint>

  <joint name="base_to_border_left" type="fixed">
    <parent link="table_base"/>
    <child link="border_left"/>
    <origin rpy="0 0 0" xyz="-1.511 0 0.06"/>
  </joint>

  <joint name="base_to_border_right" type="fixed">
    <parent link="table_base"/>
    <child link="border_right"/>
    <origin rpy="0 0 0" xyz="1.511 0 0.06"/>
  </joint>
  
  <joint name="base_to_scene" type="fixed">
    <parent link="table_base"/>
    <child link="scene"/>
    <origin rpy="0 0 0" xyz="0 0.775 0.05"/>
  </joint>
  
  <joint name="base_to_ramps" type="fixed">
    <parent link="table_base"/>
    <child link="ramps"/>
    <origin rpy="1.5708 0 0" xyz="0 0 0"/>
  </joint>

	<!-- Fix table (no gravity) -->
	<link name="world" />
	<joint name="world_to_base_link" type="fixed">
	  <parent link="world" />
	  <child link="table_base" />
	</joint>

</robot>
